<a href="https://colab.research.google.com/github/Kanishkar-git/DEV_EXPERIMENTS/blob/main/dev_4a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from datetime import datetime

data = {
    'City': ['Chennai', 'Delhi', 'Chennai', 'Delhi', 'Mumbai', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi'],
    'Date': ['2023-06-10', '2023-06-17', '2023-07-05',
             '2023-07-12', '2023-07-20', '2023-08-01',
             '2023-08-10', '2023-09-10', '2023-04-18'],
    'Temperature': [35, 40, 36, 42, 35, 34, 30, 36, 32]
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month_name()

grouped = df.groupby(['City', 'Month'])['Temperature'].sum().reset_index()
pivot = grouped.pivot(index='City', columns='Month', values='Temperature').fillna(0)

print("Pivot Table:\n", pivot)

summer_months = ['June', 'July', 'August']
pivot['Summer-Total'] = pivot[summer_months].sum(axis=1)

max_city = pivot['Summer-Total'].idxmax()
print(f"City with highest total summer temperature: {max_city}")

Pivot Table:
 Month    April  August  July  June  September
City
Chennai    0.0     0.0  36.0  35.0        0.0
Delhi     32.0    30.0  42.0  40.0        0.0
Mumbai     0.0    34.0  35.0   0.0       36.0
City with highest total summer temperature: Delhi